body {
  background: white;
  margin: 0;
}

.conteiner {
  width: 1200px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  display: flex;
  list-style: none;
}

/*Header*/
.header-console {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-console__content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 318px;
  margin: 0;
  padding: 0;
}

.header-console__section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 93px;
}

.header-console__logo {
  width: 145px;
  height: 31px;
  flex-shrink: 0;
}

.header-console__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-console__menu {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.header-console__option {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header-console__option:nth-child(1) .header-console__option-link:visited {
  color: #2196F3;
}

.header-console__option-link:hover {
  color: #2196F3;
}

.header-console__information {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.header-console__info {
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header-console__info:hover {
  color: #2196F3;
}

/*Main*/
.services {
  height: 600px;
  margin: 0;
  background-image: url("../src/image/img/Img.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.services__title {
  width: 696px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.services__button {
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
}

.services__button:hover {
  box-shadow: 0px 0px 20px 13px #fff;
}

/* Main box 1 */
.achievement {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 94px 0px 94px 0px;
}

.achievement__content-box {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.achievement__dodatok {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.achievement__element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.achievement__element::before {
  content: "";
  width: 270px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F5F4FA;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  margin-bottom: 30px;
}

.achievement__element:nth-child(1)::before {
  background-image: url("../image/img/section2/antenna1.png");
}

.achievement__element:nth-child(2)::before {
  background-image: url("../image/img/section2/clock1.png");
}

.achievement__element:nth-child(3)::before {
  background-image: url("../image/img/section2/diagram1.png");
}

.achievement__element:nth-child(4)::before {
  background-image: url("../image/img/section2/astronaut1.png");
}

.achievement__element-title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.achievement__element-paragraf {
  color: #757575;
  text-align: left;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.42px;
}

/* Main box 2 */
.work {
  margin: 0;
  padding-bottom: 94px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.work__content-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.work__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.work__image-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.work__image {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
}

/* Main box 3 */
.team {
  padding: 94px 0;
  background: #F5F4FA;
}

.team__content-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.team__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team__info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.team__dodatok {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.team__info-element {
  margin-top: 30px;
  box-sizing: content-box;
  width: 270px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team__image {
  width: 270px;
  height: 260px;
  flex-shrink: 0;
}

.team__info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.team__text-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.team__name {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team__paragraf {
  color: #757575;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team__social-networks-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

/* Company */
.user {
  height: 372px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__content-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.user__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.user__company-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.user__dodatok {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* END Company */
/* Footer box   */
.footer-info {
  background: #2F303A;
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-info__content-box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 93px;
}

.footer-info__info-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer-info__logo {
  width: 145px;
  height: 31px;
}

.footer-info__adress-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 9px;
}

.footer-info__adress {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-info__contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 9px;
}

.footer-info__link-contact {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-info__link-contact:hover {
  color: #2196F3;
}

.footer-info__subscribe-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.footer-info__title-subscribe {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-info__social-networks-box {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.footer__sun {
  display: flex;
}

.footer-info__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-in__indoo {
  display: flex;
  justify-content: center;
  gap: 70px;
}

.footer-in__indo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer-info__nazva {
  align-items: center;
}

.footer-info__nazva-link {
  text-align: left;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0px;
  color: #fff;
  text-transform: uppercase;
}

.footer-info__text-input {
  background-color: #2F303A;
}

.footer-info__form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  padding: 15px 16px;
  width: 358px;
  border-radius: 5px;
  background-color: #2F303A;
}

.footer-info__button-link {
  background-color: rgb(33, 150, 243);
  padding: 10px 50px;
  border: 0.1px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .conteiner {
    width: 1024px;
  }
  .header-console__menu {
    gap: 30px;
  }
  .header-console__option-link {
    font-size: 14px;
  }
  .header-console__content-box {
    gap: 60px;
  }
  .header-console__information {
    gap: 30px;
  }
  .header-console__info {
    font-size: 14px;
  }
  .services__title {
    font-size: 28px;
  }
  .services__button-box {
    padding: 60px 40px;
    font-size: 16px;
  }
  .achievement__content-box {
    gap: 20px;
  }
  .achievement__element::before {
    width: 200px;
    height: 100px;
  }
  .achievement__element-title {
    font-size: 14px;
  }
  .achievement__element-paragraf {
    font-size: 13px;
    font-family: none;
    line-height: 10px;
  }
  .work__title {
    font-size: 26px;
  }
  .work__image-box {
    gap: 30px;
  }
  .work__image {
    width: 300px;
    height: 210px;
  }
  .team__title {
    font-size: 26px;
  }
  .achievement__dodatok {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .team__info-element {
    width: 200px;
  }
  .team__image {
    width: 200px;
    height: 190px;
  }
  .team__name {
    font-size: 12px;
  }
  .team__paragraf {
    font-size: 12px;
  }
  .team__social-networks-box {
    gap: 2px;
  }
  .user__content-box {
    padding: 94px 0;
  }
  .user__title {
    font-size: 20px;
  }
  .user__company-box {
    flex-direction: column;
  }
  .user__dodatok {
    gap: 20px;
  }
  .icon-logo-company1:before,
  .icon-logo-company2:before,
  .icon-logo-company3:before,
  .icon-logo-company4:before,
  .icon-logo-company5:before,
  .icon-logo-company6:before {
    font-size: 110px;
  }
  .footer-info__content-box {
    gap: 50px;
  }
  input {
    width: 280px;
  }
}
@media screen and (max-width: 768px) {
  .conteiner {
    width: 592px;
  }
  .header-console__section {
    gap: 40px;
  }
  .header-console__menu {
    gap: 30px;
  }
  .header-console__option-link {
    font-size: 12px;
  }
  .header-console__content-box {
    gap: 30px;
  }
  .header-console__information {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
  }
  .header-console__info {
    font-size: 12px;
  }
  .services__button {
    padding: 15px 40px;
    font-size: 13px;
  }
  .achievement__content-box {
    gap: 40px;
  }
  .achievement__dodatok {
    display: flex;
    flex-direction: column;
  }
  .achievement__element::before {
    width: 200px;
    height: 100px;
  }
  .achievement__element-title {
    font-size: 14px;
  }
  .achievement__element-paragraf {
    font-size: 13px;
    font-family: none;
    line-height: 10px;
  }
  .work__title {
    font-size: 20px;
  }
  .work__image-box {
    gap: 40px;
  }
  .work__image {
    width: 200px;
    height: 140px;
  }
  .team__content-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team__title {
    font-size: 20px;
  }
  .team__dodatok {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team__info-element {
    width: 200px;
  }
  .team__image {
    width: 200px;
    height: 190px;
  }
  .team__name {
    font-size: 12px;
  }
  .team__paragraf {
    font-size: 12px;
  }
  .team__social-networks-box {
    gap: 2px;
  }
  .user__title {
    font-size: 18px;
  }
  .user__company-box {
    gap: 10px;
  }
  .icon-logo-company1 {
    width: 100px;
    height: 42px;
  }
  .icon-logo-company2 {
    width: 100px;
    height: 42px;
  }
  .icon-logo-company3 {
    width: 100px;
    height: 42px;
  }
  .icon-logo-company4 {
    width: 100px;
    height: 42px;
  }
  .icon-logo-company5 {
    width: 100px;
    height: 42px;
  }
  .icon-logo-company6 {
    width: 100px;
    height: 42px;
  }
  .footer-info__adress {
    font-size: 9px;
  }
  .footer-info__link-contact {
    font-size: 9px;
  }
  .footer-info__title-subscribe {
    font-size: 10px;
  }
  .footer-info__nazva-link {
    display: flex;
    justify-content: center;
  }
  .footer-info__button {
    display: flex;
    justify-content: center;
  }
  .footer-info__content-box {
    display: flex;
    flex-direction: column;
  }
  .footer-info__content {
    display: flex;
  }
  input {
    width: 450px;
  }
  .footer-info__form {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .conteiner {
    width: 480px;
    padding: 0px 21px;
  }
  .header-console__logo {
    width: 90px;
    height: 40px;
  }
  .services__title {
    width: 350px;
    font-size: 26px;
  }
  .achievement__content-box {
    flex-direction: column;
  }
  .achievement__element::before {
    width: 100%;
    height: 200px;
  }
  .achievement__element-title {
    font-size: 14px;
  }
  .achievement__element-paragraf {
    font-size: 14px;
    width: 440px;
  }
  .work {
    display: none;
  }
  .team__content-box {
    width: 435px;
  }
  .team__title {
    font-size: 15px;
  }
  .team__info-element {
    width: 450px;
    height: 550px;
  }
  .team__info-box {
    display: flex;
    flex-direction: column;
  }
  .team__image {
    width: 100%;
    height: 422px;
  }
  .team__name {
    font-size: 12px;
  }
  .team__paragraf {
    font-size: 12px;
  }
  .user {
    padding: 94px;
  }
  .user__company-box {
    display: flex;
    justify-content: center;
  }
  .user__widprawnik {
    display: flex;
    gap: 30px;
  }
  .user__dodatok {
    display: flex;
    flex-direction: column;
  }
  .icon-logo-company1:before,
  .icon-logo-company2:before,
  .icon-logo-company3:before,
  .icon-logo-company4:before,
  .icon-logo-company5:before,
  .icon-logo-company6:before {
    font-size: 100px;
  }
  .footer-info {
    padding: 240px;
  }
  .footer-info__content-box {
    display: flex;
    flex-direction: column;
  }
  .footer-info__subscribe-box {
    align-items: center;
  }
  .footer-info__nazva-link {
    margin-top: 1px;
  }
  .footer-info__button {
    display: flex;
    justify-content: center;
  }
  input {
    width: 390px;
  }
  .footer-in__indoo {
    display: flex;
    flex-direction: column;
  }
  .footer-info__info-box {
    align-items: center;
  }
  .footer-info__adress-box {
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */